---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Social from "../components/Social.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../icons/Experience.astro";
import ProjectIcon from "../icons/Project.astro";
import ContactIcon from "../icons/Contact.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="px-5">
    <SectionContainer id="about-me" class="py-24 pb-24">
      <img
        src="https://media.licdn.com/dms/image/v2/D4E03AQFOMxaFmtrkHw/profile-displayphoto-shrink_800_800/B4EZQfLVyGHAAc-/0/1735689854432?e=1753315200&v=beta&t=skbTisOJCviFXHjiEcclwCKnYn0v0NK8DIh38cDMlVM"
        alt="sergio photo"
        class="rounded-full w-13 h-13 mb-4"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hi! I am Sergio
        <a
          href="https://www.linkedin.com/in/sergio-suarez-gonzalez-975b91207/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge> Available to work </Badge></a
        >
        <br />
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] opacity-80 mb-4">
        <span class="text-yellow-200"
          >Telecommunications Engineer and Developer.</span
        >
        <br /> +2 years of experience. From Bogotá, Colombia. System and web developer
        specialized. Have been working with frameworks such as <span
          class="text-purple-400"
          >.NET
        </span>
        , <span class="text-red-400">Angular</span>, <span class="text-blue-400"
          >Astro</span
        > and Fastify.
        <br />
      </h2>

      <nav class="flex gap-4 mt-10 flex-wrap">
        <Social
          href="https://www.linkedin.com/in/sergio-suarez-gonzalez-975b91207/"
        >
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </Social>
        <Social href="https://github.com/sergio200086">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </Social>
        <Social href="mailto:suarezsergio040@gmail.com">
          <MailIcon class="size-4 lg:size-6" />
          suarezsergio040@gmail.com
        </Social>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="flex text-3xl font-semibold gap-x-2 items-center mb-4">
        <ExperienceIcon class="size-6" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="flex text-3xl font-semibold gap-x-2 items-center mb-4">
        <ProjectIcon class="size-6" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2 class="flex text-3xl font-semibold gap-x-2 items-center mb-4">
        <ContactIcon class="size-7" />
        Contact me
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
