---
const EXPERIENCE = [
  {
    title:
      "Software Engineer | .NET · Java · QA Automation - Tata Consultancy Services (CITI BANK)",
    date: "October, 2024 - Current",
    description:
      "Led test automation initiatives using Selenium, Cucumber, and Java that cut manual testing by half and sped up regression cycles. Streamlined test design by converting requirements into automated scenarios—70% faster delivery. Also managed the defect pipeline, slashing resolution time by 25% through root cause analysis and dev collaboration. On the .NET side, built unit tests that pushed code coverage to 85% and refactored legacy code to improve performance and maintainability",
  },
  {
    title: "System developer - Skyline Communications",
    date: "July, 2022 - September, 2024",
    description:
      "Design and implementation of .Net driven applications for network monitoring using C#. Improving data relaiability and performance by 50% through optimization of data capturing.",
  },
];

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-3 mt-10">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
