---

---

<header class="flex justify-around items-center my-4">
  <div class="flex items-center gap-3">
    <h1>Sergio</h1>
  </div>
  <nav class="flex flex-row gap-x-10">
    <a href="/">Home</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#works">Works</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
