---

---

<header class="flex justify-between items-center">
  <div class="flex items-center gap-3">
    <img
      src="https://media.licdn.com/dms/image/v2/D4E03AQFOMxaFmtrkHw/profile-displayphoto-shrink_800_800/B4EZQfLVyGHAAc-/0/1735689854432?e=1753315200&v=beta&t=skbTisOJCviFXHjiEcclwCKnYn0v0NK8DIh38cDMlVM"
      alt="sergio photo"
      class="rounded-full w-10 h-10"
    />
    <h1>Sergio</h1>
  </div>
  <nav class="flex flex-row gap-x-10">
    <a href="/">Home</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
    <a href="#works">Works</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
