---

---

<header class="text-white flex justify-center items-center py-4 w-full">
  <nav
    class="flex flex-col items-center gap-y-4 sm:flex-row sm:justify-center sm:gap-x-10"
  >
    <a href="#">Home</a>
    <a href="#about-me">About Me</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact me</a>
  </nav>
</header>
