---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sergio Portfolio</title>
  </head>
  <body>
    <div
      class="fixed inset-0 z-[-2] bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />

    <Footer />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Onest Variable", system-ui, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
