---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sergio Portfolio</title>
  </head>
  <body>
    <div>
      <Header />

      <slot />
    </div>
  </body>
</html>
<style>
  body {
    font-family: "Onest Variable", system-ui, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
</style>
